.row
  .col-md-6
    %h2 Gimnasios
    %table.table.table-striped
      %th Nombre
      %th Télefono
      %th Estado
      %th Opciones
      %tr
        %td Power gym
        %td 022319006
        %td Activo
        %td Editar - Eliminar
      %tr
        %td Pacifig
        %td 022319006
        %td Activo
        %td Editar - Eliminar  
  .col-md-6
    %h2 Ventas
    %table.table.table-striped
      %th Orden
      %th Nombre
      %th Monto
      %th Estado
      %tr
        %td #0001
        %td Jorge Centonzio
        %td $30.500
        %td Pagado







