%h2 Gimnasio Pacific Amunategui
%hr
.row
  .col-md-6
    .panel.panel-default
      .panel-body
        %strong
          %i.glyphicon.glyphicon-list-alt
          Ultimos 5 pedidos
          %hr/  
        .row  
          .panel-body
            %table.table.table-striped
              %th Cliente
              %th Acceso
              %th Total
              %tr
                %td Jorge Centonzio
                %td 1 día
                %td $12.000
              %tr
                %td Jorge Centonzio
                %td 1 día
                %td $12.000
              %tr
                %td Jorge Centonzio
                %td 1 día
                %td $12.000
              %tr
                %td Jorge Centonzio
                %td 1 día
                %td $12.000
              %tr
                %td Jorge Centonzio
                %td 1 día
                %td $12.000

    .panel.panel-default
      .panel-body
        %strong
          %i.glyphicon.glyphicon-list-alt
          Ultimos 5 accesos confirmados
          %hr/                                                                                 
               
  .col-md-6
    .panel.panel-default
      .panel-body
        %strong
          %i.glyphicon.glyphicon-list-alt
          Mes actual     
          %hr/
        .row
          .col-md-6
            Facturado
          .col-md-6
            $330.000
        %hr/    
        .row
          .col-md-6
            Comisiones
          .col-md-6
            $33.000 (-10%)
        .row
          .col-md-6
            Total
          .col-md-6
            $297.000
    .panel.panel-default
      .panel-body
        %strong
          %i.glyphicon.glyphicon-list-alt
          Promociones activas
          %hr/
        %table.table.table-striped
          %th Tipo de acceso
          %th Precio
          %tr
            %td 1 día
            %td $12.000
          %tr
            %td 1 mes
            %td $30.000          
