%br
%br
.well
  %strong
    %h4
      %i.fa.fa-star
      Promociones
    %hr
    %span.pull-left
      = link_to "<i class='fa fa-plus-square'></i> Nueva promoción".html_safe, new_access_path, remote: true
   
  %br
  %br
  %table.table.table-striped
    %th Tipo de acceso
    %th Precio
    %th Precio oferta
    %th Fecha de inicio
    %th Fecha de termino
    %th Estado
    %th 
    %th 
    %tbody.access-index
      = render "/accesses/partials/index"
  
  = have_promotion(current_customer.directory.accesses)
          
#access-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}

