%h1 Listing accesses

%table
  %tr
    %th
    %th
    %th

  - @accesses.each do |access|
    %tr
      %td= link_to 'Show', access
      %td= link_to 'Edit', edit_access_path(access)
      %td= link_to 'Destroy', access, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Access', new_access_path
