// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

body{background:#E9EAEA;}

.jumbotron {
    background-image: url("back.jpg");
    color: inherit;
    margin-bottom: 30px;
    
}

h3{padding:0 0 10px;margin:0}

hr{margin:10px 0 10px 0;}

.line{border-right:solid 1px #ccc;}

.well {background:#fff}

.top-header{border: solid 1px #ccc}

.conditions-text, .description-text {
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    white-space: pre-wrap;
}

.conditions-text .section-title{font-size:20px;}

.section-title {
    color: #e5696c;
    display: block;
    font-family: "Share Tech";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.1;
    margin-bottom: 10px;
    margin-top: 20px;
    text-transform: uppercase;
}

.list-group{margin-top:10px;}

.btn-group-vertical{margin:0 0 20px 0}


.btn-extra{background-color: #D86067;color: white;border:solid 1px #C95A62;  font-family: Trebuchet MS !important;
    font-size: 1em;
    font-weight: bold;}

.btn-extra:hover,
.btn-extra:focus,
.btn-extra:active,
.btn-extra.active {
  color: #ffffff;
  background-color: #C95A62;border:solid 1px #BA535B;
}



.btn-primary{background-color: #EA7A51;color: white;border:solid 1px #CC6945;}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #CC6945;border:solid 1px #BE6140;
}


