// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap3-switch";


body{background:#E9EAEA;}


.section-title {
    background: none repeat scroll 0 0 #efefef;
    border: 1px solid #d8d8d8;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color: #000;
    float: none !important;
    font-family: ProximaNovaRegular,Helvetica,Arial;
    font-size: 17px;
    height: 43px;
    line-height: 43px;
    margin: 0 auto;
    padding: 0 15px;
    text-transform: none;
}


#map{width:100%; height: 230px;border: 1px solid #ddd;}


@media (min-width: 930px) {
  .container {
    width: 920px;
  }
}

.nopadding {
   padding: 5px !important;
   margin: 0 !important;
}

.container h1{font-size:30px;color:#333;margin:30px 0 0 0;padding:0;}

.navbar {
    margin-bottom: 0px;
    min-height: 50px;
    position: relative;
}

.directory{border-radius:0;margin-bottom:5px;padding:5px}

.multiselect{text-align:left;}


#mini_search h3, h1{padding:10px;color:#fff}


.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
 

.prod-text{font-size:16px}
.text-red{color:#d86067;font-weight: bold;}

.th {
    display: inline-block;
    line-height: 0;
    transition: all 200ms ease-out 0s;
    width: 100%;
}


img {
    height: auto;
    max-width: 100%;
}


.jumbotron {
    background-image: url("back.jpg");
    color: inherit;
    margin-bottom: 30px;
    
}

h3{padding:0 0 10px;margin:0}

hr{margin:10px 0 10px 0;}

.bg-title {
    background-color: #9597C6;
    color: #fff;
    font-size: 15px;
    padding: 5px;
}

.lead{color:#fff;}

.cd-headline {
    color: #fcfcfc;
    line-height: 1.2;
    text-align: center;
    text-shadow: 2px 2px 3px black;
}


.line{border-right:solid 1px #ccc;}

.whome {
    border: 1px solid #e3e3e3;
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 0;
}

.top-header{border: solid 1px #ccc}

.conditions-text, .description-text {
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    white-space: pre-wrap;
}



.list-group{margin-top:10px;}

.btn-group-vertical{margin:0 0 20px 0}


.btn-extra{background-color: #D86067;color: white;border:solid 1px #C95A62;  font-family: Trebuchet MS !important;
    font-size: 1em;
    font-weight: bold;}

.btn-extra:hover,
.btn-extra:focus,
.btn-extra:active,
.btn-extra.active {
  color: #ffffff;
  background-color: #C95A62;border:solid 1px #BA535B;
}

.btn-group-vertical > .btn:last-child:not(:first-child){border-bottom-left-radius:0}
.btn-group-vertical > .btn:first-child:not(:last-child){border-top-right-radius:0}
.btn-primary{border-radius:0; background-color: #D86067;color: white;border:solid 1px #C95A62;}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #C95A62;border:solid 1px #BA535B;
}


 .carousel {
  /*height: 500px; OLD*/
  /*margin-bottom: 60px; OLD*/

  /*max-width:1200px; THIS IS OPTIONAL (ANY SIZE YOU LIKE)*/
  margin:0 auto 0px;
}

.carousel .item {
    /*height: 500px; OLD*/
    /*background-color: #777; OLD*/

    width:100%;
    height:auto;
}
.carousel-inner > .item > img {
  /*position: absolute; OLD+WHY?*/
  /*top: 0; OLD+WHY?*/
  /*left: 0; OLD+WHY?*/

  min-width:100%;
  height:auto;
}

.address{font-size:14px;margin:5px 0 10px;}

