#top-nav.navbar.navbar-inverse.navbar-static-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "#"} GYMgo.com
    .navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li
          %a{:href => "#"} Chile
        %li
          %a{:href => "#"} Invita a tus amigos
        %li
          %a{:href => "#"} Suscríbete
        %li
          %a{:href => "#"} Publicar gimnasio    

      %ul.nav.navbar-right.navbar-nav
        %li
          %a{:href => "#"}
            %i.fa.fa-plus-circle 
            Crear cuenta
        %li
          %a{:href => "#"} 
            %i.fa.fa-user 
            Entrar
              
     
    / /.navbar-collapse