#top-nav.navbar.navbar-inverse.navbar-static-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "#"} GYMplus
    .navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li
          %a{:href => "#"} Pedidos
        %li
          %a{:href => "#"} Confirmar accesos
        %li
          %a{:href => "#"} Promociones  
        %li
          %a{:href => "#"} Cobros y transacciones
        %li
          %a{:href => "#"} Estadísticas         
      %ul.nav.navbar-nav.navbar-right
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :role => "button"}
            %i.glyphicon.glyphicon-user
            Cuenta
            %span.caret
          %ul#g-account-menu.dropdown-menu{:role => "menu"}
            %li
              %a{:href => "#"} My Profile
            %li
              %a{:href => "#"} Establecimiento  
        %li
          = link_to "<span class='glyphicon glyphicon-lock'></span> Salir".html_safe, destroy_customer_session_path, method: 'delete'
